@import "helpers/stylings/_index";

.wrapper {
  @include align-center;
  flex-wrap: wrap;
  max-width: 1024px;
  width: 100%;

  .isOdd {
    border-right: 2px solid rgb(228, 228, 228);
  }

  .itemDetails {
    @include align-center;

    border-bottom: 2px solid rgb(228, 228, 228);
    flex-direction: column;
    padding: 30px 10px;
    width: 50%;

    img {
      height: 60px;
      margin-bottom: 20px;
      width: 60px;
    }

    .title {
      font-family: "Poppins";
      font-size: 30px;
      letter-spacing: 2px;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
  }
}
