@import "helpers/stylings/_index";

.wrapper {
  display: table-row;
  border-top: 2px solid rgb(228, 228, 228);
  flex-wrap: wrap;
  max-width: 1024px;
  width: 100%;

  & > :nth-child(odd) {
    border-right: 2px solid rgb(228, 228, 228);
  }

  .itemDetails {
    display: table-cell;
    border-bottom: 2px solid rgb(228, 228, 228);
    padding: 30px;
    width: 50%;

    & > :first-child {
      @include align-center;
      flex-direction: column;

      img {
        filter: invert(0.5) sepia(1) saturate(5) hue-rotate(140deg);
        height: 60px;
        margin-bottom: 20px;
        width: 60px;
      }

      .title {
        font-family: "Poppins";
        font-size: 30px;
        letter-spacing: 2px;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
    }
  }
}
