@import "helpers/stylings/_index";

.wrapper {
  @include align-center;
  @include media-query(pc) {
    padding: 80px 100px 30px;
  }

  @include media-query(tl) {
    padding: 80px 60px 30px;
  }

  flex-direction: column;
  padding: 80px 20px 30px;

  .bannerWrapper {
    @include align-center;
    height: 50vh;
    width: 100%;

    .bannerContainer {
      @include media-query(sp) {
        padding: 10px;
      }

      @include align-center;
      flex-direction: column;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 3px;
      max-width: 1024px;
      padding: 30px;
      width: 100%;

      .title {
        @include media-query(sp) {
          margin-bottom: 20px;
          padding: 10px;
        }
        border-bottom: 1px solid $textScrolled;
        border-top: 1px solid $textScrolled;
        color: white;
        font-size: 44px;
        letter-spacing: 2px;
        line-height: 50px;
        margin-bottom: 30px;
        padding: 20px;
        text-align: center;
        text-shadow: 3px 0px $textScrolled;
        text-transform: uppercase;
        width: fit-content;
      }

      .desc {
        color: white;
        font-family: "Poppins";
        font-size: 22px;
        letter-spacing: 1px;
        text-align: center;
        text-shadow: 1px 1px 1px #006eff, 3px 1px 5px $textScrolled;
      }
    }
  }

  .infoMenu {
    @include align-center;
    background-color: white;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    margin-bottom: 20px;
    max-width: 1024px;
    padding: 10px 0;
    position: sticky;
    text-align: center;
    top: 80px;
    width: 100%;
    z-index: 99;

    & > :not(:last-child) {
      border-right: 2px solid rgb(228, 228, 228);
    }

    .infoDetail {
      @include align-center;
      flex-direction: column;
      width: 100%;

      &:hover {
        color: $textScrolled;
        cursor: pointer;
      }

      & > span {
        @include media-query(sp) {
          font-size: 20px;
        }
        font-size: 24px;
        padding: 5px;
        text-transform: uppercase;
        transition: 0.3s ease;
      }

      & > div {
        width: 0;
        height: 2px;
      }

      .showUnderline {
        border: 1px solid $textScrolled;
        transition: 0.3s ease;
        width: 50px;
      }
    }

    .selected {
      color: $textScrolled;
    }
  }

  .infoDetails {
    background-color: white;
    max-width: 1024px;
    padding: 30px 0px;
    width: 100%;
  }
}
