@import "helpers/stylings/_index";

.wrapper {
  .btnContainer {
    @include media-query(sp) {
      @include align-center;
    }
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;

    .skillSelected {
      background-color: $textScrolled;
      color: $textDefault;
    }

    & > div {
      @include media-query(sp) {
        font-size: 14px;
      }

      border: 1px solid $textScrolled;
      border-radius: 3px;
      cursor: pointer;
      font-size: 18px;
      margin-bottom: 10px;
      padding: 5px 15px;
      transition: 0.2s ease-in-out;

      &:hover {
        background-color: $textScrolled;
        color: $textDefault;
        transition: 0.2s ease-in-out;
      }
    }

    & > :not(:last-child) {
      margin-right: 10px;
    }
  }

  .skillContainer {
    @include align-center;
    border-bottom: 2px solid rgb(228, 228, 228);
    flex-direction: column;
    padding: 30px;
    margin-bottom: 30px;
  }
}
